[submodule "bootloaders/sun20i_d1_spl"]
	path = bootloaders/sun20i_d1_spl
	url = https://github.com/smaeul/sun20i_d1_spl.git
	branch = mainline
	ignore = dirty
[submodule "bootloaders/opensbi"]
	path = bootloaders/opensbi
	url = https://github.com/riscv-software-src/opensbi
	ignore = dirty
[submodule "bootloaders/xfel"]
	path = bootloaders/xfel
	url = https://github.com/xboot/
	ignore = dirty
[submodule "rt-thread/bsp/allwinner/d1s_d1h/packages/CherryUSB"]
	path = rt-thread/bsp/allwinner/d1s_d1h/packages/CherryUSB
	url = https://github.com/cherry-embedded/CherryUSB.git
	ignore = dirty
[submodule "rt-thread/bsp/allwinner/d1s_d1h/packages/TinyUSB"]
	path = rt-thread/bsp/allwinner/d1s_d1h/packages/TinyUSB
	url = https://github.com/RT-Thread-packages/tinyusb.git
	ignore = dirty
